.Screen {
    position: fixed;
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

button {
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    background-color: transparent;

    width: 222px;
    height: 57px;
    left: 84px;
    top: 422px;
    margin: 1em;

    border: 1px solid #DBDBDB;
    border-radius: 5px;
}

button:active {
    background-color: #FFFFFF;
    color: #282C34;
}